.chat_window {
  width: 60%;
  height: 650px;
  margin-top: 25px;
  padding: 16px;
}
.chat_window div::-webkit-scrollbar {
  display: none;
}
.chat_bubble {
  width: auto;
  display: inline-block;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  border-radius: 16px 16px 16px 4px;
  margin: 1px 0;
  max-width: 60%;
}
.by-you {
  background: #57e8a8;
  border: 1px solid #57e8a8;
  border-radius: 16px 16px 4px 16px;
  margin-left: auto;
}
._1-bot {
  border-radius: 4px 16px 16px 4px;
}
._1-you {
  border-radius: 16px 4px 4px 16px;
}
.compose-div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.compose-div input {
  width: 83%;
  padding: 12px 24px;
  border: 1px solid #b3b3b3;
  border-radius: 27px;
  font-family: 'GoogleSans-Regular';
  outline: none;
}
.compose-div button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 27px;
  font-family: 'GoogleSans-Regular';
  font-weight: 800;
  outline: none;
  border: none;
  width: 11%;
  justify-content: space-evenly;
  color: #fff;
  background: #57e8a8;
  cursor: pointer;
}
.compose-div button svg {
  width: 20px;
}
.typing {
  align-items: center;
  display: flex;
  width: 40px;
  justify-content: center;
  height: 16px;
}
.tidot {
  background-color: #000;
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 40px;
  display: inline-block;
  height: 8px;
  margin-right: 3px;
  width: 8px;
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  animation-delay: 200ms;
}
.tidot:nth-child(2) {
  animation-delay: 300ms;
}
.tidot:nth-child(3) {
  animation-delay: 400ms;
}
.carousel {
  border-radius: 4px;
}
.carousel-options {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.carousel-button {
  border: none;
  outline: none;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'GoogleSans-Regular';
  font-weight: 800;
}
.carousel-button-active {
  background: #121212;
  color: #fff;
}
